name: CI

on:
    push:
        branches:
            - main
    pull_request:

permissions:
    actions: read
    contents: read

jobs:
    main:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  filter: tree:0
                  fetch-depth: 0

            # Cache node_modules
            - uses: actions/setup-node@v4
              with:
                  node-version: 24
                  cache: 'yarn'

            # Install dependencies
            - run: yarn install --immutable

            # Run lint
            - run: yarn lint

            # Run test
            - run: yarn all:test

            # Run build
            - run: yarn all:build

            # Run e2e tests
            - run: yarn e2e:api
